/* style.css */

body {
  background-color: #b0c2d3;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #c26cf4;
  text-align: center;
  margin: 20;
  padding: 20px;
}

h1 {
  color: #a734c7;
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
}

button {
  background-color: rgb(83, 83, 209);
  margin-bottom: 20px;
  color: rgb(156, 151, 214)
}

button:hover {
  background-color: rgb(156, 151, 214);
  margin-bottom: 20px;
  color:  rgb(83, 83, 209);
}


